html {
  padding: 10%;
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-image:linear-gradient(rgba(0,0,0, 20%), rgba(0,0,0, 20%)), url('downloads/achtergrond.jpg');
  background-size: 80% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-shadow:white 0 0 2px;
}

h1 {
  color: #333;
  font-face: bold;
  font-size: xx-large;
}

p {
  font-size: 1.2em;
  font-style: italic;
  color: #333333;
  border-style: outset;
  border-bottom-color: black;
  border-top-color: darkgrey;
  border-width: thick;
}
